/* 
    Document   : style
    Created on : 26-oct.-2013, 17:17:32
    Author     : Guillaume
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{   background-color: #a7dce0;
    background-image: url("images/panneau.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}
#logo{
    position: relative;
    top: 0px;
    left: 0px;
    
    
}
#intro
{
   font-size: 1em; /*taille texte*/
   color:steelblue; /*couleur texte*/
   font-family:"Comic Sans Ms",Arial,serif; /*police*/
   font-style: normal;/*style (italic et oblique)*/
   font-weight: bold; /*gras*/
   
   
}
a
{
    text-decoration: none;
}
#compte_connexion
{
    text-align: right;
    color: steelblue;
}
#panier
{
 position: absolute;
 top: 35px;
 right: 80px;
 width: 108px;
 height: 112px;
}


