/* 
    Document   : style
    Created on : 26-oct.-2013, 17:17:32
    Author     : Guillaume
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#logo{
    
}
#intro
{
   font-size: 1em; /*taille texte*/
   color:steelblue; /*couleur texte*/
   font-family:"Comic Sans Ms",Arial,serif; /*police*/
   font-style: normal;/*style (italic et oblique)*/
   font-weight: bold; /*gras*/
   
}

